<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Classifier</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Rice Disease Classification</h1>
        <form method="POST" enctype="multipart/form-data">
            <input type="file" name="file" required>
            <button type="submit">Predict</button>
        </form>

        {% if result %}
        <div class="result">
            <img src="{{ img_path }}" alt="Uploaded Image">
            <p>Predicted Class: <strong>{{ result }}</strong></p>
        </div>
        {% endif %}
    </div>
</body>
</html>
